.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; text-align: center; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: whitesmoke;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

a{
  text-decoration: none;
  background-color: grey;
  color: whitesmoke;
  padding:10px;
  margin: 5px;
}


a:hover{
    
    cursor: pointer;
}
 .hilight{
   justify-content: center;
  font-size: 100px;
  color: darkolivegreen;
}