<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        id="ngForm"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="name">Username</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="form.name"
            required
            minlength="3"
            maxlength="20"
            #name="ngModel"
            [disabled]="!edited"
          />
          <div class="alert-danger" *ngIf="name.errors && f.submitted">
            <div *ngIf="name.errors.required">Username is required</div>
            <div *ngIf="name.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="name.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
         
        </div>
       
        <div class="form-group">
            <label>Gender</label>
            <input
            type="text"
            class="form-control"
            name="gender"
            [(ngModel)]="form.gender"
            
            #gender="ngModel"
            disabled
          />
        

          <div class="alert-danger" *ngIf="gender.errors && f.submitted">
            <div *ngIf="gender.errors.required">Gender is required</div>
           </div>
        </div>
        
        
        
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
            [disabled]="!edited"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="mobilenumber">Mobile Number </label>
          <input
            type="text"
            class="form-control"
            name="mobilenumber"
            [(ngModel)]="form.mobilenumber"
            required
            minlength="10"
            maxlength="12"
            #mobilenumber="ngModel"
            [disabled]="!edited"
          />
          <div class="alert-danger" *ngIf="mobilenumber.errors && f.submitted">
            <div *ngIf="mobilenumber.errors.required">Mobile Number is required</div>
            <div *ngIf="mobilenumber.errors.minlength">
             Mobile Number must be a valid number
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="town">Town </label>
          <input
            type="text"
            class="form-control"
            name="town"
            [(ngModel)]="form.town"
            disabled
            required
          />
        </div>
        
        <div class="form-group">
          <label for="area">Area</label>
          <select class="form-control"  
                  required
                  [(ngModel)]="form.area" name="area"
                  #area="ngModel" [disabled]="!edited">
            <option *ngFor="let are of areas" [value]="form.area">{{are}}</option>
          </select>
        
           <div class="alert-danger" *ngIf="area.errors && f.submitted">
          <div *ngIf="area.errors.required">Area  is required</div>
        </div>
        </div>
        
       
       
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Edit failed!<br />
        </div>
       
      </form>
       <div classs="form-group">

        <div class="button">
           
            <button (click)="edit()" class="btn btn-primary btn-block" ><mat-icon>edit</mat-icon></button>
              
            </div>
            <div class="button">
               
            <button (click)="cancel()" class="btn btn-primary btn-block" [disabled]="!edited"><mat-icon>cancel</mat-icon></button>
           
            </div>
            <div class="button">
                
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!edited" form="ngForm" ><mat-icon> check_circle</mat-icon></button>
            </div>
       </div>
    </div>
</div>

 
  