table {
    width: 100%;
   
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width:15%;
  }
  mat-card{
      padding: 10px;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  .user-card {
    min-width: 120px;
    margin: 20px 20px 20px 20px;
  }

 