<body>
    <header id="showcase" class="grid">
        <div id="bg-image" ></div>
        <div class="content-wrap"><h1> T-Wash </h1>
            <p>Every moment is valuable go and Catch it! We care for your car wash </p>
            <a routerLink="/book" class="btn">Book Now</a>
        </div>

    </header>
    <main id="main">
        <section id="section-a" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">On Demand Mobile Car Wash</h2>
                <div class="content-text"> 
                    <p>
                        We provide the on demand car wash system while you work in your office let your car wash. Every momemt is valuable and busy in our lifes.
                        Why to spend hours of time on washing your car and being in que for washing. We are here for you to wash your car where ever you are with the best ever washers in the town just a tap in your mobile.
                    </p>
                </div>

            </div>

        </section>
        <section id="section-b" class="grid">
            <ul>
                <li>
                    <div class="card">
                        <img src="../../../assets/w.svg" alt="">
                        <div class="card-content">
                            <h3 class="card-title">Select your wash package</h3>
                                <p>Choose the package that aligns with your car wash needs. You can customize along with the add-ons offered.</p>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="../../../assets/w2.svg" alt="">
                        <div class="card-content">
                            <h3 class="card-title">Select your
                                wash time.
                            </h3>
                            <p>We wash 8am-5pm at your apartment,office,home, etc.Schedule anytime within your preferred area with preferred washer.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="../../../assets/w3.svg" alt="">
                        <div class="card-content">
                            <h3 class="card-title">Leave your car ready
                                for our technicians
                            </h3>
                            <p>Park where you normally do. Your car gets washed right there. For interior access, leave it unlocked or request to be contacted.</p>
                        </div>
                    </div>
                </li>
                
            </ul>

        </section>

          <section id="section-c" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">We have a 100% T-Wash Happiness Guarantee!</h2>
                <p>
                    A clean car and your happiness is our top priority. If you’re not satisfied with your service, we’ll do everything we can to fix it. Call or or message us any time -- we’re here to help!</p>
            </div>
        </section>
        <section id="section-d" class="grid">
            <div class="box">
                <div><mat-icon >account_circle</mat-icon>
                    <hr>
                    <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
                </div>
                <h2 class="content-title"> Dr.Nimmala</h2>
                <p class="review"> The service was excellent and best in town</p>
                <p>~~~ MLA(Palakollu Constitution)</p>
            </div>
            <div class="box">
                <div><mat-icon >account_circle</mat-icon>
                    <hr>
                    <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
                </div>
                <h2 class="content-title"> G.Srinivasa Rao</h2>
                <p class="review"> This could have been easier process than waiting for long time</p>
                <p>~~~ Municipal Chairman(Palakollu Constitution)</p>
            </div>
           
        </section>
        <section id="section-e" class="grid">
            <ul>
                <li>
                    <div class="card">
                        <div class="card-content">
                            <h1 class="card-title"> Bronze Package
                            </h1>
                            <ul  id="type" class="flex-container">
                                <li>
                                   <div><h3>Small</h3>Rs:500</div>
                                </li>
                                <li>
                                    <div><h3>Mid</h3></div>
                                    <div>Rs:550</div>
                                 </li>
                                 <li>
                                    <div><h3>Large</h3></div>
                                    <div>Rs:600</div>
                                 </li>
                            </ul>
                            <div id="packages">
                                <li>
                                    Exterior Washing
                                </li>
                                <li>
                                    Interior Vacuuming
                                </li>
                                <li>
                                    Basic Cleaning
                                </li>
                                <li>
                                   Basic Polishing
                                </li>

                                <h2>Can Be Customized</h2>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-content">
                            <h1 class="card-title"> Silver Package
                            </h1>
                            <ul  id="type" class="flex-container">
                                <li>
                                   <div><h3>Small</h3>Rs:600</div>
                                </li>
                                <li>
                                    <div><h3>Mid</h3></div>
                                    <div>Rs:650</div>
                                 </li>
                                 <li>
                                    <div><h3>Large</h3></div>
                                    <div>Rs:700</div>
                                 </li>
                            </ul>
                            <div id="packages">
                                <li>
                                   Bronze Included
                                </li>
                                <li>
                                    Interior Detail Clean
                                </li>
                                <li>
                                    Interior Dry Clean
                                </li>
                                <li>
                                    Sanitization (Optional)
                                </li>

                                <h2>Can Be Customized</h2>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-content">
                            <h1 class="card-title"> Gold Package
                            </h1>
                            <ul  id="type" class="flex-container">
                                <li>
                                   <div><h3>Small</h3>Rs:700</div>
                                </li>
                                <li>
                                    <div><h3>Mid</h3></div>
                                    <div>Rs:750</div>
                                 </li>
                                 <li>
                                    <div><h3>Large</h3></div>
                                    <div>Rs:800</div>
                                 </li>
                            </ul>
                            <div id="packages">
                                <li>
                                    Bronze Included
                                </li>
                                <li>
                                    Interior Dry Clean
                                </li>
                                <li>
                                    Rubbing-Polishing
                                </li>
                                <li>
                                   Extra Foam
                                </li>

                                <h2>Can Be Customized</h2>
                            </div>
                        </div>
                    </div>
                </li>
                
            </ul>

        </section>
    </main>
</body>