<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  
  <mat-tab label="All Bookings ">
      <mat-card class="user-card">
        <mat-card-header>
          <mat-card-title>SEARCH Booking</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
              <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Enter any text" (keyup)="applyFilter($event)" #input>
                    <mat-icon matSuffix> search</mat-icon>
                  </mat-form-field>
                </div>
          </div>
        </mat-card-content>
      </mat-card >
      <mat-card class="user-card">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort >
  
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
         
          <ng-container matColumnDef="scheduledlater">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Scheduled</th>
            <td mat-cell *matCellDef="let row"> {{row.scheduledlater}} </td>
          </ng-container>
      
          <ng-container matColumnDef="scheduleddate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let row"> {{row.scheduleddate}} </td>
          </ng-container>

          <ng-container matColumnDef="userid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User Id </th>
            <td mat-cell *matCellDef="let row" > {{row.userid}} </td>
          </ng-container>
      
        
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
            <td mat-cell *matCellDef="let row" > {{row.username}} </td>
          </ng-container>
  
          <ng-container matColumnDef="washerid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Washer Id</th>
            <td mat-cell *matCellDef="let row" > {{row.washerid}} </td>
          </ng-container>
  
          <ng-container matColumnDef="washername">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Washer Name </th>
            <td mat-cell *matCellDef="let row"> {{row.washername}} </td>
          </ng-container>
  
          <ng-container matColumnDef="orderstatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row"> {{row.orderstatus}} </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="warn" (click)="deleteBooking(row.id)">
                  <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
          
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Detailed Bookings">
    
          <mat-card  class="user-card">
            <mat-card-header>
                <mat-card-title>SEARCH BOOKING BY ID</mat-card-title>
                
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Search</mat-label>
                          <input matInput placeholder="Enter User Id" [(ngModel)]="search" #input>
                          <mat-icon matSuffix> search</mat-icon>
                        </mat-form-field>
                      </div>
                </div>
                <mat-card-actions align="end" >
                  <button  mat-raised-button (click)="searchBooking()" [disabled]="!search">Search</button>
                </mat-card-actions>
              </mat-card-content>
             
          </mat-card>
          <mat-card  class="user-card">
        <form #f="ngForm"  name="form"
        (ngSubmit)="f.form.valid ">
            <mat-card class="booking-card">
                <mat-card-header>
                  <mat-card-title >Detailed Information</mat-card-title>
                </mat-card-header>
               <mat-card-content>
                  <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label >
                            <mat-icon>person_outline</mat-icon> Name
                            </mat-label>
                        <input matInput placeholder="Name"    name="username"  [(ngModel)]="form.username" #username="ngModel" disabled>
                    </mat-form-field>
                   
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>
                            <mat-icon>phone</mat-icon> Mobile Number
                            </mat-label>
                        <input matInput placeholder="Mobile"    name="number"  [(ngModel)]="form.number" #number="ngModel" disabled >
                    </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label >
                            <mat-icon>directions_car</mat-icon>Car Name
                            </mat-label>
                        <input matInput placeholder="Ex: Maruthi Alto White"    name="carname"  [(ngModel)]="form.carname" #carname="ngModel" required disabled>
                        
                    </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label >
                            <mat-icon>directions_car</mat-icon>Car Number
                            </mat-label>
                        <input matInput placeholder="Ex:Ap39GB0966"    name="carnumber"  [(ngModel)]="form.carnumber" #carnumber="ngModel" disabled>
                        
                        </mat-form-field>
                    </div>
          </div>
          <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label >
                    <mat-icon>edit_road</mat-icon> Area
                    </mat-label>
                    <input matInput 
                   
                    [(ngModel)]="form.area" 
                    name="area"
                    #area="ngModel" 
                    disabled
                    >              
            </mat-form-field>
           
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label >
                    <mat-icon>place</mat-icon> Location
                    </mat-label>
                    <input matInput placeholder="pease click on get location"  [value]="location"  name="location"  [(ngModel)]="form.location" #location="ngModel" required disabled>
            </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label >
                    <mat-icon>people</mat-icon>Washername 
                    </mat-label>
                    <input  matInput
                   
                    [(ngModel)]="form.washername" 
                    name="washername"
                    #washernmae="ngModel" 
                     disabled
                    >
            </mat-form-field>
            </div>
            <div class="col" >
                <mat-form-field class="full-width">
                    <mat-label >
                    <mat-icon>inventory_2</mat-icon>Package
                    </mat-label>
                    <input  matInput
                    
                    [(ngModel)]="form.packages" 
                    name="packages"
                    #packages="ngModel" 
                    disabled
                    >           
            </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col" >
                <mat-form-field class="full-width">
                    <mat-label >
                    <mat-icon>post_add</mat-icon>Addons
                    </mat-label>
                    <input  matInput  
                    
                    [(ngModel)]="form.addon" 
                    name="addon"
                    #addon="ngModel" 
                    disabled
                    >             
            </mat-form-field>
            </div>
            <div class="col">
                
              <mat-form-field class="full-width">
                <mat-label >
                    <mat-icon>event</mat-icon>Scheduled Date
                    </mat-label>
                <input  matInput   name="scheduleddate" #bookingdate="ngModel" required [(ngModel)]="form.scheduleddate" disabled>
              </mat-form-field>
            </div>
            <div class="col">
               
                <mat-form-field class="full-width">
                    <mat-label >
                        <mat-icon>event</mat-icon>Booked Date
                        </mat-label>
                  <input  matInput   name="bookingdate" #bookingdate="ngModel" required [(ngModel)]="form.bookedon"disabled >
                </mat-form-field>
              </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label >
                  <mat-icon>payment</mat-icon> Payment Mode
                  </mat-label>
                  <input  matInput  
                    
                  [(ngModel)]="form.paymenttype" 
                  name="paymenttype"
                  #paymenttype="ngModel" 
                   disabled
                  >
              </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                  <mat-label >
                    <mat-icon>payment</mat-icon> Payment Status
                    </mat-label>
                    <input  matInput  
                      
                    [(ngModel)]="form.paymentstatus" 
                    name="paymentstatus"
                    #paymentstatus="ngModel" 
                     disabled
                    >
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-label >
                    <mat-icon>payment</mat-icon>Transaction Id
                    </mat-label>
                    <input  matInput  
                      
                    [(ngModel)]="form.transactionid" 
                    name="transactionid"
                    #transactionid="ngModel" 
                
                     disabled
                    >
                </mat-form-field>
              </div>
        </div>
        <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
              <mat-label >
                <mat-icon>flaky</mat-icon> Order Status
                </mat-label>
                <input  matInput  
                  
                [(ngModel)]="form.orderstatus" 
                name="orderstatus"
                #orderstatus="ngModel" 
                 disabled
                >
            </mat-form-field>

          </div>
          <div class="col">
            <mat-form-field class="full-width">
                <mat-label >
                <mat-icon>sell</mat-icon>Total amount
                </mat-label>
            <input matInput  [(ngModel)]="form.amount" 
            name="amount"
            #amount="ngModel"  disabled>
            </mat-form-field>
        </div>
        </div>
          
        
       </mat-card-content>

       <mat-card-actions align="end"> 
        <div *ngIf='form.orderstatus=="Booked"'>
            <button mat-button class="green" (click)="accept(form.id)"><mat-icon>task_alt</mat-icon></button>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            <button [disabled]="loading"  mat-button color="warn" (click)="reject(form.id)"><mat-icon>cancel</mat-icon></button>
            
          </div>
       </mat-card-actions>
            </mat-card>
            
        </form>
          </mat-card>
    </mat-tab>
 
  </mat-tab-group>